.header-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    position: sticky;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    min-width: 300px;
    font-size: 16px;
    width: 150px;
}

.header-symbol {
    width: 60px;
    
}

.header-data {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around; 
    width: 100%;
}

.header-price {
    width: 110px;
}

.header-volume {
    width: 160px;
}

.header-marketcap {
    width: 150px;
    margin-left: 10px;
}

.header-percent {
    width: 80px;
}
.button{
    border: none;
    display: list-item;
    position: relative;
    background-color: #4801ff;
    border-radius: 20px;
    justify-content: left;
    width: 20px;
    margin: none;
    

}
.button:hover{
    cursor: pointer;
}